/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

img {
  max-width: 100%;
}

.octodex {
  @extend .row;
}

.octocat {
  @extend .col-md-4;
}

.image-footer {
  @extend .row;
}

.image-number {
  @extend .col-md-1;
}

.image-caption {
  @extend .col-md-11;
}

.image-attribution {
  @extend .col-md-5;
}

.image-authors {
  @extend .col-md-6;
  @extend .row;

  list-style: none;

  li {
    @extend .col-md-4;
  }
}
