/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 10px;
$container-large-desktop: (1014px + $grid-gutter-width);

/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: url('http://unsplash.it/g/1800/1800') 0 0 fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.blog-post {
  background-color: white;
  background-clip: content-box;
  height: 350px;
}
