body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width:100%;
}

ul {
  padding: 0;
  margin: 0;
}

.octodex::after {
  content: "";
  display: block;
  clear: both;
}

.octocat {
  float: left;
  width: 31.1033681%;
  list-style: none;
  margin-left: 01.6724739%;
}

.octocat > a {
  display: inline-block;
  border: solid 1px rgba(202, 202, 202, 1);
  border-radius: 2px;
  padding: 10px;
}

.image-footer {
  border-bottom: 1px solid rgba(202, 202, 202, 1);
  padding: 12px 0;
  line-height: 29px;
  vertical-align: middle;
}

.image-footer::after {
  content: "";
  display: table;
  clear: both;
}

.image-caption {
  float: right;
  line-height: 29px;
  vertical-align: middle;
}

.image-caption a {
  text-decoration: none;
  color: rgba(50, 51, 51, 1);
  font-weight: bold;
}

.authors li {
  list-style: none;
}

.authors,
.authors li
.authors li a {
  display: inline-block;
  vertical-align: middle;
}

.authors a {
  display: inline-block;
  width: 28px;
}
